/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color:#000;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	color:red;
	border-radius: 10px;
	text-transform: uppercase;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	background-color: #000;
	opacity: 0.8;
}


a.btn:hover{
	box-shadow: 2px 4px #000;
  }
  
a.btn:active{
	box-shadow:none;
  }

  @media (max-width: 800px) {
	a.btn{
		font-size:15px;
	}
}

.testimonials i{
	color:red;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 40px;
	margin:0 0;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.slides{
	display: flex;
	justify-content: center;
	width:100%;
}

.slides img{
	height: 380px;
	background-clip: content-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 800px) {
	.slides{
		width:100%;
		height:250px;
		margin:10px;
		margin-bottom: 100px;
	}
}



hr {
	width: 250px;
	height: 3px;
	background-color:red;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 5px;
		margin:10px 0;
	}
}

/*Header Styles*/

header {
	/*position: absolute;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	color: #fff;
	background-color: #000;
}

header a{
	margin:0 10px;
}

header h2 {
	font-family: "Quicksand", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

header img{
	width:20px;
	height:20px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 10px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
		font-size: 20px;
	}

	header nav li {
		margin: 0 5px;
		font-size: 15px;
	}
}

/*Hero Styles*/

.hero {
	/*position: relative;*/
	display:flex;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #000;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-size: cover;
	z-index: -1;
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
	margin: 10px;
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 70px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		margin: 20px;
		padding: 20px 20px;
	}

	.hero .background-image{
		background-size: cover;
		background-position:center;
	}
}

/*Destinations Section*/

.destinations .grid li {
	height: 400px;
	padding: 5px;
	background-clip: content-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.destinations .grid li .long{
	background-size: 90% 90%;
}

.destinations .grid li {
	flex-basis: 30%;
}

.destinations .grid .nostretch{
	height: 350px;
	padding: 5px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


@media (max-width: 1100px) {
	.destinations .grid li {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.destinations .grid li {
		flex-basis: 100%;
	}
}

/*Packages Section*/

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #8c9eff;
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}


/*Testimonials Section*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}



#location h3{
    font-size:30px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
	iframe{
		width:90%;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000;
	color: #fff;
	padding: 20px 0;
	align-self:center;
}

footer ul {
	display: flex;
	justify-content: space-around;

}

footer li{
	padding: 0 20px;
}


footer p {
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
}

@media (max-width: 1100px) {

	footer ul {
	display: flex;
	flex-direction: column;

}

	footer p {
		text-align: center;
	}

	footer ul li {
		text-align: center;
		margin: 10px 10px;
	}
}



#slider {
            width: 100%;
            position: absolute;
            margin:0;
        }

.slider_item {
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            z-index: 0;
            overflow: hidden;
            opacity: 0;
            transition:all .5s ease-in-out;
            transform: scale(0.9);
        }
.slider_item img {
        	height: 100%;
        }

.slider_item:nth-child(odd){
            background-color:#000;
        }
.slider_item:nth-child(even){
            background-color:#000;
        }
.showing{
            opacity: 1;
            z-index: 1;
            transform: none;
        }

@media (max-width: 1100px) {
	.slider_item{
		margin-top:70px;
		height:600px;
		background-position: center;
        background-size: contain;

	}

	.slider_item img {
        background-position: center;
        background-size: contain;
        }
}


.pics{
 background-color:#f5f5f5;
}
